<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @list.name %>
</p>

<p>
  <b>Type:</b>
  <%= @list.type %>
</p>

<p>
  <b>Extra data:</b>
  <%= @list.extra_data %>
</p>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
