<%= form_for(@constraint) do |f| %>
  <% if @constraint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@constraint.errors.count, "error") %> prohibited this constraint from being saved:</h2>

      <ul>
      <% @constraint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :for_type %><br />
    <%= f.text_field :for_type %>
  </div>
  <div class="field">
    <%= f.label :data_options %><br />
    <%= f.text_area :data_options %>
  </div>
  <div class="field">
    <%= f.label :input_options %><br />
    <%= f.text_area :input_options %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
